$accent: #E78B2E;
$primary: #ECD99A;
$secondary: #FAF7E0;
$low-midtone: #6B8983;
$dark-accent: #445653;
$darker-accent: #333A39;
$light-accent: #B2F7E9;
$channel-accent: #F42121;
$background: #586865;
