 svg {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
    // border: 1px solid red; 
    position: relative;
}


#s1-switch-1-trigger {
    transition: all .2s ease;
}
#s1-switch-1:active #s1-switch-1-trigger  {
        transform: translateY(2.4%);
}

#s1-switch-2-trigger {
    transition: all .1s ease;
}
#s1-switch-2:active #s1-switch-2-trigger  {
        transform: translateY(2.4%);
}

#s1-switch-2:hover {
    cursor: pointer;
}

#s1-switch-1:hover {
    cursor: pointer;
}

