body {
    background: $secondary;
}

button {
    border: none;
    transition: all 1s ease;
    padding: 0;
    margin: 0;
    background: none;
}

button:focus {
    outline: none;
    border: 1px solid grey;
    text-decoration: none;

}

div {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

input {
    border: none;
    background: none;
    text-transform: none;
}

.access {
    cursor: pointer;
}

.intro-trigger,
.intro-button-trigger,
.mode-trigger,
.needle,
.s2-trigger-1,
.s2-trigger-2,
.s2-trigger-3,
.s2-trigger-4,
.s2-trigger-5,
.s2-fail,
.s2-success,
.btn2,
.s1-trigger-1,
.s1-trigger-2,
.s1-fail,
.s1-success {
    transition: all .2s ease;
}


