body {
    background: $secondary;
}

button {
    border: none;
    transition: all 1s ease;
    padding: 0;
    margin: 0;
    background: none;
}

button:focus {
    outline: none;
    border: 1px solid grey;
    text-decoration: none;

}

div {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

input {
    border: none;
    background: none;
    text-transform: none;
}

.access, .intro-switch, .intro-button, .intro-fail, .mode {
    cursor: pointer;
}

.intro-trigger,
.intro-button-trigger,
.main-trigger,
.s2-trigger-1,
.s2-trigger-2,
.s2-trigger-3,
.s2-trigger-4,
.s2-trigger-5,
.s1-trigger-1,
.s1-trigger-2 {
    transition: all .15s ease;
}

// Container and Grid
.flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.outer-layer {
    margin: 0 auto;
    display: grid;
    height: 450px;
    width: 750px;
    grid-template-rows: 10px 25px repeat(27, auto) 25px 10px;
    grid-template-columns: 10px 25px repeat(37, auto) 25px 10px;
    z-index: 1000;
    position: relative;
}
.container-grid {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    display: grid;
    height: 450px;
    grid-template-rows: 10px 25px repeat(27, auto) 25px 10px;
    grid-template-columns: 10px 25px repeat(37, auto) 25px 10px;
}



