body {
    background: $secondary;
}
.flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-grid {
    margin: 0 auto;
    display: grid;
    height: 450px;
    width: 750px;
    grid-template-columns: 10px 25px repeat(37, auto) 25px 10px;
    grid-template-rows: 10px 25px repeat(27, auto) 25px 10px;
}

.radio-body {
    grid-row: 2 / 31;
    grid-column: 2 / 41;
    background: $primary;
    border-radius: 7px;
}

.background {
    grid-row: 1 / 32;
    grid-column: 1 / 42;
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    background: $low-midtone;
}

.radiohead {
    grid-row: 3 / 10;
    grid-column: 3 / 40;
    background: $background;
    border-radius: 7px;
}

.channel {
    grid-row: 4 / 9;
    grid-column: 4 / 24;
    width: 98%;
    background: $low-midtone;
    border-radius: 7px;
}

.channel-length {
    grid-row: 6 / 7;
    grid-column: 5 / 22;
    height: 50%;
    display: flex;
    align-self: center;
    border-radius: 5px;
    background: $light-accent;
    position: relative;
    .needle {
        position: absolute;
        border-radius: 2px;
        background: $channel-accent;
        width: 9px;
        height: 26px;
        bottom: -7px;
        left: 20%;
    }
}

.speaker {
    grid-row: 4 / 9;
    grid-column: 25 / 39;
    border-radius: 7px;
    background: #52706A;
}
.inner-speaker {
    grid-column: 26 / 38;
    grid-row: 5 / 8;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-self: center;
    height: 50%;
    border-radius: 7px;
}
.dots {
    grid-column: 26 / 38;
    grid-row: 5 / 9;
    background: url(../assets/dots.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.sequence2 {
    grid-row: 12 / 30;
    grid-column: 3 / 26;
    width: 98%;
    background: $secondary;
    border-radius: 7px;
}

// Sequence 2 Switches
// S2 Switch 1
.s2-switch-1 {
    grid-row: 12 / 30;
    grid-column: 3 / 8;
    border-radius: 7px 0 0 7px;
    background: $secondary;
    cursor: pointer;
    // border: 1px solid red;
}
    .hint-1 {
        grid-row: 13 / 14;
        grid-column: 4 / 7;
        background: url(../assets/hint-1.svg);
        background-position: center;
        background-size: 100%;
        margin: 0 auto;
        height: 100%;
        width: 40%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
        .s2-switch-length-1 {
            grid-row: 15 / 28;
            grid-column: 5 / 6;
            border-radius: 3px;
            background: $dark-accent;
            cursor: pointer;
            display: flex;
            justify-content: center;
            position: relative;
            .s2-trigger-1 {
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                width: 220%;
                height: 20px;
                background: $low-midtone;
            }
        }
           


.s2-switch-2 {
    grid-row: 12 / 30;
    grid-column: 9 / 14;
    background: $secondary;
    cursor: pointer;
}
    .hint-2 {
        grid-row: 13 / 14;
        grid-column: 10 / 13;
        background: url(../assets/hint-2.svg);
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        height: 100%;
        width: 75%;
        cursor: pointer;
    }
    .s2-switch-length-2 {
        grid-row: 15 / 28;
        grid-column: 11 / 12;
        border-radius: 3px;
        background: $dark-accent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;
        .s2-trigger-2 {
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            width: 220%;
            height: 20px;
            background: $low-midtone;
        }
    }

.s2-switch-3 {
    grid-row: 12 / 30;
    grid-column: 15 / 20;
    background: $secondary;
    cursor: pointer;
}
    .hint-3 {
        grid-row: 13 / 14;
        grid-column: 17 / 18;
        background: url(../assets/hint-3.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        height: 100%;
        width: 50%;
        cursor: pointer;
    }
    .s2-switch-length-3 {
        grid-row: 15 / 28;
        grid-column: 17 / 18;
        border-radius: 3px;
        background: $dark-accent;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        .s2-trigger-3 {
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            width: 220%;
            height: 20px;
            background: $low-midtone;
        }
    }

.sub-switch {
    grid-row: 12 / 30;
    grid-column: 20 / 26;
    width: 93%;
    border-radius: 0 5px 5px;
    background: $secondary;
}
// S2 Sub Switches
.s2-switch-4 {
    grid-row: 12 / 18;
    grid-column: 20 / 26;
    width: 93%;
    border-radius: 0 5px 0 0;
    background: $secondary;
    cursor: pointer;
}
    .s2-switch-length-4 {
        grid-row: 16 / 17;
        grid-column: 21 / 24;
        background: $dark-accent;
        cursor: pointer;
        position: relative;
        .s2-trigger-4 {
            position: absolute;
            background: $low-midtone;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            cursor: pointer;
        }
    }

.s2-switch-5 {
    grid-row: 18 / 22;
    grid-column: 20 / 26;
    width: 93%;
    background: $secondary;
    cursor: pointer
}
    .s2-switch-length-5 {
        grid-row: 19 / 20;
        grid-column: 21 / 24;
        background: $dark-accent;
        height: 100%;
        cursor: pointer;
        position: relative;
        .s2-trigger-5 {
            position: absolute;
            background: $low-midtone;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            cursor: pointer;
        }
    }

.s2-submit {
    grid-row: 22 / 28;
    grid-column: 20 / 26;
    width: 93%;
    background: $secondary;
    cursor: pointer;
}
.btn2 {
    grid-row: 22 / 26;
    grid-column: 21 / 24;
    margin: 0 auto;
    cursor: pointer;
    width: 50%;
}
    .s2-button {
        background: url(../assets/submit.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 70%;
        
    }
    .s2-fail {
        background: url(../assets/submit-fail.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: none;
    }

    .s2-success {
        background: url(../assets/submit-success.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: none;    
    }

// Sequence 1 
// Main Switch
.main-switch {
    grid-row: 12 / 30;
    grid-column: 27 / 35;
    width: 85%;
    margin: 0 auto;
    background: $secondary; 
    border-radius: 7px;
    cursor: pointer;
}

.main-switch-length {
    grid-row: 13 / 29;
    grid-column: 30 / 32;
    background: $dark-accent;
    display: flex;
    height: 95%;
    width: 55%;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    .main-trigger {
        position: absolute;
        bottom: 0;
        width: 220%;
        height: 20px;
        background: $low-midtone;
    }
}

.s1-switch-1 {
    grid-row: 14 / 18;
    grid-column: 35 / 41;
    background: $primary;
    cursor: pointer;
}
.s1-switch-length-1 {
    grid-row: 16 / 17;
    grid-column: 36 / 39;
    background: $dark-accent;
    cursor: pointer;
    position: relative;
    .s1-trigger-1 {
        position: absolute;
        background: $low-midtone;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        cursor: pointer;
    }
}

.s1-switch-2 {
    grid-row: 18 / 22;
    grid-column: 35 / 41;
    background: $primary;
    cursor: pointer;
}
    .s1-switch-length-2 {
        grid-row: 19 / 20;
        grid-column: 36 / 39;
        background: $dark-accent;
        cursor: pointer;
        position: relative;
        .s1-trigger-2 {
            position: absolute;
            background: $low-midtone;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            cursor: pointer;
        }
    }


.s1-submit {
    grid-row: 22 / 28;
    grid-column: 35 / 40;
    background: $primary;
    cursor: pointer;
}

.btn1 {
    grid-row: 22 / 26;
    grid-column: 36 / 39;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
}
    .s1-button { 
        background: url(../assets/submit.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 70%;
    }
  
    .s1-fail {
        background: url(../assets/submit-fail.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: none;
    }

    .s1-success {
        background: url(../assets/submit-success.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: none;    
    }






