body {
    background: $secondary;
}
.flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-grid {
    margin: 0 auto;
    display: grid;
    height: 450px;
    width: 750px;
    grid-template-columns: 10px 25px repeat(37, auto) 25px 10px;
    grid-template-rows: 10px 25px repeat(27, auto) 25px 10px;
}

.radio-body {
    grid-row: 2 / 31;
    grid-column: 2 / 41;
    background: $primary;
    border-radius: 7px;
}

.background {
    grid-row: 1 / 32;
    grid-column: 1 / 42;
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    background: $low-midtone;
}

.radiohead {
    grid-row: 3 / 10;
    grid-column: 3 / 40;
    background: $background;
    border-radius: 7px;
}

.sequence2 {
    grid-row: 12 / 30;
    grid-column: 3 / 26;
    width: 98%;
    background: $secondary;
    border-radius: 7px;
}

.main-switch {
    grid-row: 12 / 30;
    grid-column: 27 / 34;
    background: $secondary;
}

.channel {
    grid-row: 4 / 9;
    grid-column: 4 / 24;
    width: 98%;
    background: $low-midtone;
    border-radius: 7px;
}

.channel-length {
    grid-row: 6 / 7;
    grid-column: 5 / 22;
    height: 50%;
    display: flex;
    align-self: center;
    background: $light-accent;
}

.speaker {
    grid-row: 4 / 9;
    grid-column: 25 / 39;
    border-radius: 7px;
    background: #52706A;
}
.inner-speaker {
    grid-column: 26 / 38;
    grid-row: 5 / 8;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-self: center;
    height: 50%;
    border-radius: 7px;
}
.dots {
    grid-column: 26 / 38;
    grid-row: 5 / 9;
    background: url(../assets/dots.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

// Sequence 2 Switches
// S2 Switch 1
.s2-switch-1 {
    grid-row: 12 / 30;
    grid-column: 3 / 8;
    border-radius: 7px 0 0 7px;
    background: $secondary;
    border: 1px solid red;
}
    .hint-1 {
        grid-row: 13 / 14;
        grid-column: 4 / 7;
        background: url(../assets/hint-1.svg);
        background-position: center;
        background-size: 100%;
        margin: 0 auto;
        height: 100%;
        width: 40%;
        background-repeat: no-repeat;
    }


.s2-switch-2 {
    grid-row: 12 / 30;
    grid-column: 9 / 14;
    background: $secondary;
    border: 1px solid red;
}
    .hint-2 {
        grid-row: 13 / 14;
        grid-column: 10 / 13;
        background: url(../assets/hint-2.svg);
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        height: 100%;
        width: 75%;
    }
.s2-switch-3 {
    grid-row: 12 / 30;
    grid-column: 15 / 20;
    background: $secondary;
    border: 1px solid red;
}
    .hint-3 {
        grid-row: 13 / 14;
        grid-column: 17 / 18;
        background: url(../assets/hint-3.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        height: 100%;
        width: 50%;
    }
.sub-switch {
    grid-row: 12 / 30;
    grid-column: 21 / 26;
    width: 93%;
    border-radius: 0 5px 5px;
    background: $secondary;
    border: 1px solid red;
}

// Sequence 1 
// Main Switch
.main-switch {
    grid-row: 12 / 30;
    grid-column: 27 / 34;
    background: $secondary; 
    border-radius: 7px;
}

.main-switch-length {
    grid-row: 13 / 29;
    grid-column: 30 / 31;
    background: $dark-accent;
    display: flex;
    height: 95%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    border-radius: 2px;
}








