.container {
    display: flex;
    // width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    // justify-content: space-between;
}

.radio-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid cadetblue;
    height: 100%;
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;
}
.radio-body-container {
    width: 100%;
}

.main-switch {
    display: flex;
    justify-content: center;
    background: cadetblue;
    height: 100px;
    width: 20px;
    cursor: pointer;
    position: relative;
    // border: 1px solid red;
}

.s1 {
    height: 50px;
    width: 20px;
    cursor: pointer;
    position: relative;
    background: cadetblue;
    position: relative;
}

.trigger {
    margin: 0 auto;
    height: 20%;
    width: 170%;
    background: $low-midtone;
    transition: all .1s ease; 
    position: absolute;
    top: 0;
}

.on {
    transform: translateY(400%);
}

.switch-1,
.switch-2 {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 5px;
}

.trigger-1,
.trigger-2 {
    position: absolute;
     padding: 0 5px;
}

// .hint{
//     background: orange;
// }

@keyframes shake {
    25% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-10%);
    }
    75% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-5%);
    }
}
.shake {
    animation-name: shake;
    animation-duration: 1s ease;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: cadetblue;
    border: 10px solid cadetblue;
    transition: all .4s ease;
    cursor: pointer;
    position: relative;
}
.fail {
    background: crimson;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    display: none;
    filter: blur(7px);
}
.success {
    background: #CEF4F0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    display: none;
    filter: blur(2px);
}
